{% extends 'base.twig' %}

{% block content %}
  <main>
    <div class="container common author-main-container">
      {% for b in birth %}
        {{ b.date_of }}
        {% endfor %}
      <a class="bread-crumbs back-link" href="#">Вернуться назад</a>
      <div class="author-container">
        <div class="row">
          <div class="main-img-author text-center col-lg-6">
            <img class="main-img img-fluid"
                 src="content/image/writer_images/{% for item in mainWriterPicture %}{{ item.filename }}{% endfor %}">
          </div>
          <div class="author-description col-lg-6">
            <h1 class="author-name">{% for item in data %}{{ item.name }} {{ item.patronymic }} {{ item.surname }}{% endfor %}</h1>
            <div class="quote">
              {% for item in data %}
                {{ item.quote }}
              {% endfor %}
            </div>
            <div class="signature">
              <img class="img-size" src="content/image/writer_images/{% for signature in writerSignature %}{{ signature.filename }}{% endfor %}">
            </div>
          </div>
        </div>
        <div class="main-info">
          <div class="introduction">
            {% for item in data %}
              {{ item.intoduction_content }}
            {% endfor %}
          </div>
          {% include 'blocks/writer_gallery.twig' %}
          <div class="main-info-text">
            {% autoescape false %}
              {% for content in data %}
                {{ content.content }}
              {% endfor %}
            {% endautoescape %}
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}