{% extends 'base.twig' %}

{% block content %}
  <div class="header-main container-fluid" xmlns="http://www.w3.org/1999/html">
    <div class="container description-block">
      <div class="header-main-text">
        Проект, посвященный творцам литературного мира. <br> Мы поможем найти писателей по отобранным критериям.
      </div>
    </div>
  </div>
  <main>
    <div class="container slider-wrapper">
      <div class="autoplay">
        <div class="slick-slide">
          <img class="img-fluid" src="content/image/carousel_image/pushkin.jpg" title="А.С.Пушкин">
        </div>
        <div class="slick-slide">
          <img class="img-fluid" src="content/image/carousel_image/grin.jpg" title="Грин">
        </div>
        <div class="slick-slide">
          <img class="img-fluid" src="content/image/carousel_image/checkov.jpg" title="А.П.Чехов">
        </div>
        <div class="slick-slide">
          <img class="img-fluid" src="content/image/carousel_image/tolstoy.jpg" title="Л.Н.Толстой">
        </div>
        <div class="slick-slide">
          <img class="img-fluid" src="content/image/carousel_image/london.jpg" title="Лондон">
        </div>
        <div class="slick-slide">
          <img class="img-fluid" src="content/image/carousel_image/tven.jpg" title="Твен">
        </div>
        <div class="slick-slide">
          <img class="img-fluid" src="content/image/carousel_image/tsvetaeva.jpg" title="Цветаева">
        </div>
        <div class="slick-slide">
          <img class="img-fluid" src="content/image/carousel_image/bulgakov.jpg" title="Булгаков">
        </div>
        <div class="slick-slide">
          <img class="img-fluid" src="content/image/carousel_image/gogol.jpg" title="Гоголь">
        </div>
        <div class="slick-slide">
          <img class="img-fluid" src="content/image/carousel_image/asadov.jpg" title="Асадов">
        </div>
        <div class="slick-slide">
          <img class="img-fluid" src="content/image/carousel_image/remark.jpg" title="Ремарк">
        </div>
        <div class="slick-slide">
          <img class="img-fluid" src="content/image/carousel_image/fizdzerald.jpg" title="Фицджеральд">
        </div>
        <div class="slick-slide">
          <img class="img-fluid" src="content/image/carousel_image/dostoevskii.jpg" title="Достоевский">
        </div>
        <div class="slick-slide">
          <img class="img-fluid" src="content/image/carousel_image/heminguei.jpg" title="Хемингуэй">
        </div>
        <div class="slick-slide">
          <img class="img-fluid" src="content/image/carousel_image/uald.jpg" title="Уайльд">
        </div>
        <div class="slick-slide">
          <img class="img-fluid" src="content/image/carousel_image/jelyazn.jpg" title="Желязны">
        </div>
      </div>
    </div>
    <div class="search-field-wrapper container-fluid">
      <div class="container">
        <div class="row">
          <form action="result_of_search.php" method="post" class="feedback-form search-field col-12 col-xl-7">
            <div class="search-field-title">Найдите писателей</div>
            <div class="genre-input">
              <div class="search-form-input-title">По жанру</div>
              <select name="authorGenre[]" class="selectpicker dropdown-genre padding-select" data-width="100%" multiple
                      title="Выберите один или несколько жанров">
                {% for genre in allGenre %}
                  <option value="{{ genre.id_genre }}"> {{ genre.name_genre }} </option>
                {% endfor %}
              </select>
              <small>Например: Психология, Драма</small>
            </div>
            <div class="row century-country-row">
              <div class="col-4">
                <div class="search-form-input-title">По веку</div>
                <select name="authorCentury" class="selectpicker dropdown-century padding-select" data-width="100%"
                        title="Выберите век">
                  {% for century in allCentury %}
                    <option value="{{ century.id_century }}">{{ century.name_century }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="col-8">
                <div class="search-form-input-title">По стране</div>
                <select name="authorCountry" class="selectpicker dropdown-country padding-select" data-width="100%"
                        title="Выберите страну писателя">
                  {% for country in allCountry %}
                    <option value="{{ country.id_country }}">{{ country.name }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <button class="button button-search" type="submit">Найти</button>
          </form>
        </div>
        <a href="add_writer.php">Добавить писателя</a>
      </div>
    </div>
  </main>
{% endblock content %}

